<html>
<head>
</head>
<body>
<h1 style="background-color: #5846f9; text-align:center; color: #FFF;">Doctor Finder</h1>
<center>
<div style="border: 3px solid #000; width:600px; text-align:center;">
<h1> Edit and Save </h1>
{% if v %}

<form method="post" action="edit_doctor1">
    <p>Doctor_id: <input readonly value="{{ v[9] }}" type="text" id="txt24" name="T11"/> </p>
    <p>Name: <input value="{{ v[0] }}" type="text" id="txt1" name="T1"/> </p>
    <p>Address: <input value="{{ v[1] }}" type="text" id="txt2" name="T2"/> </p>
    <p>Contact: <input value="{{ v[2] }}" type="text" id="txt3" name="T3"/> </p>
    <p>Speciality: <input value="{{ v[3] }}" type="text" id="txt4" name="T4"/> </p>
    <p>Working Experience: <input value="{{ v[4] }}" type="text" id="txt5" name="T5"/> </p>
    <p>Current hospital: <input value="{{ v[5] }}" type="text" id="txt6" name="T6"/> </p>
    <p>Days:
        {% if v[10]=="yes" %}
        mon<input checked type="checkbox" id="txt7" name="T10" value="mon">
        {% else %}
        mon<input type="checkbox" id="txt8" name="T10" value="mon">
        {% endif %}

        {% if v[11]=="yes" %}
        tue<input checked type="checkbox" id="txt9" name="T10" value="tue">
        {% else %}
        tue<input type="checkbox" id="txt10" name="T10" value="tue">
        {% endif %}

        {% if v[12]=="yes" %}
        wed<input checked type="checkbox" id="txt11" name="T10" value="wed">
        {% else %}
        wed<input type="checkbox" id="txt12" name="T10" value="wed">
        {% endif %}

        {% if v[13]=="yes" %}
        thur<input checked type="checkbox" id="txt13" name="T10" value="thur">
        {% else %}
        thur<input type="checkbox" id="txt14" name="T10" value="thur">
        {% endif %}

        {% if v[14]=="yes" %}
        fri<input checked type="checkbox" id="txt15" name="T10" value="fri">
        {% else %}
        fri<input type="checkbox" id="txt16" name="T10" value="fri">
        {% endif %}

        {% if v[15]=="yes" %}
        sat<input checked type="checkbox" id="txt17" name="T10" value="sat">
        {% else %}
        sat<input type="checkbox" id="txt18" name="T10" value="sat">
        {% endif %}

        {% if v[16]=="yes" %}
        sun<input checked type="checkbox" id="txt19" name="T10" value="sun">
        {% else %}
        sun<input type="checkbox" id="txt20" name="T10" value="sun">
        {% endif %}

    </p>
    <p>Timing: Morning Shift:<input value="{{ v[6] }}" type="text" id="txt21" name="T7"/>
        Evening Shift:<input value="{{ v[7] }}" type="text" id="txt22" name="T8"/>
    </p>
    <p>Email: <input value="{{ v[8] }}" type="text" id="txt23" name="T9"/> </p>
    <button type="submit" id="btn1" name="B1">Save Changes</button>
</form>

{% elif msg %}
    <h2 style="color:#F00;"> {{msg}} </h2>
    <p><a href="show_doctors">Continue</a></p>
{% endif %}
</div>
</center>
</body>
</html>